@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 30s ease-in-out infinite;
  -moz-animation: rotating 30s ease-in-out infinite;
  -ms-animation: rotating 30s ease-in-out infinite;
  -o-animation: rotating 30s ease-in-out infinite;
  animation: rotating 30s ease-in-out infinite;
}
/* -------------------------------------------------------------------------- */

@-webkit-keyframes rotatingCCW /* Safari and Chrome */ {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(-360deg);
      -moz-transform: rotate(-360deg);
      -webkit-transform: rotate(-360deg);
      -o-transform: rotate(-360deg);
      transform: rotate(-360deg);
    }
}

@keyframes rotatingCCW {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(-360deg);
      -moz-transform: rotate(-360deg);
      -webkit-transform: rotate(-360deg);
      -o-transform: rotate(-360deg);
      transform: rotate(-360deg);
    }
}
.rotatingCCW {
  -webkit-animation: rotatingCCW 30s ease-in-out infinite;
  -moz-animation: rotatingCCW 30s ease-in-out infinite;
  -ms-animation: rotatingCCW 30s ease-in-out infinite;
  -o-animation: rotatingCCW 30s ease-in-out infinite;
  animation: rotatingCCW 30s ease-in-out infinite;
}

/* -------------------------------------------------------------------------- */

@-webkit-keyframes updown /* Safari and Chrome */ {
    0% {
      bottom: 20px;
    }
    50% {
      bottom: 40px;
    }
    100% {
      bottom: 20px;
    }
}

@keyframes updown {
    0% {
      bottom: 20px;
    }
    50% {
      bottom: 40px;
    }
    100% {
      bottom: 20px;
    }
}
.updown {
  -webkit-animation: updown 2s ease infinite;
  -moz-animation: updown 2s ease infinite;
  -ms-animation: updown 2s ease infinite;
  -o-animation: updown 2s ease infinite;
  animation: updown 2s ease infinite;
}
